body 
{
  background-image:url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613220419_31-p-fon-sinii-razmitii-38.jpg);
}
form{
    font-size: 24px;
	  
}
#calculateResult{
    margin-top: 10px;
}
#count{
    margin-top: 10px;
}